<h1>{{.Title}}</h1>

{{ if .emailAddress }} 

most recent URLS - logged in
<ul>
    <form action="/makeShort" method="post">
        <input type="text" name="fullUrl" id="fullUrl">
        <input type="submit" value="Shorten me!">
    </form>
    {{ range .ShortURLs }}

    <li id="{{ .ShortUrl }}">
        <a target="_blank" href="http://localhost:3000/{{ .ShortUrl }}">{{ .FullUrl }}</a> 
        <button hx-target="closest li" hx-delete="/shortUrl/{{ .ShortUrl }}" hx-swap="outerHTML" >Delete</button>
    </li>

    {{ end }}
</ul>


Shorten an URL

{{ else }} 

most recent URLS:

<ul>
    {{ range .ShortURLs }}

    <li id="{{ .ShortUrl }}"><a target="_blank" href="http://localhost:3000/{{ .ShortUrl }}">{{ .FullUrl }}</a></li>

    {{ end }}
</ul>
{{ end }}
