<h1>{{.Title}}</h1>

<script >
    function deleteShortUrlAndRedirectToHome(shortUrl) {
        const url = "http://localhost:3000/shortUrl/" + shortUrl;
        console.log(url)

        const response = fetch(url, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            }
        }).then(response => {
            const item = document.getElementById(shortUrl);
            if (item) {
                item.remove();
            }
        })

        console.log(response)

    }
</script>


{{ if .emailAddress }} 

most recent URLS - logged in
<ul>
    <form action="/makeShort" method="post">
        <input type="text" name="fullUrl" id="fullUrl">
        <input type="submit" value="Shorten me!">
    </form>
    {{ range .ShortURLs }}

    <li id="{{ .ShortUrl }}"><a target="_blank" href="http://localhost:3000/{{ .ShortUrl }}">{{ .FullUrl }}</a> <input type="button" value="delete" onclick="deleteShortUrlAndRedirectToHome( '{{ .ShortUrl }}' )" /></li>

    {{ end }}
</ul>


Shorten an URL

{{ else }} 

most recent URLS:

<ul>
    {{ range .ShortURLs }}

    <li id="{{ .ShortUrl }}"><a target="_blank" href="http://localhost:3000/{{ .ShortUrl }}">{{ .FullUrl }}</a></li>

    {{ end }}
</ul>
{{ end }}
